mat-drawer-container {
  height: 100%;
}

mat-drawer {
  width: 319px;
  border-radius: 0 16px 16px 0;
}

mat-nav-list {
  padding: 0 8px;
}
mat-nav-list>mat-list-item {
  display: flex;
  border-radius: 30px;
}
mat-list-item>div {
  display: flex;

}

mat-nav-list>button {
  margin-left: 8px;
  margin-top: 4px;
}
