#outer {
  background-image: url("https://f.cdn-static.cn/29440_16753088812582.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  padding-top: 100px;

}
mat-card {
  /*margin-top: 50px;*/
  margin-left: 10px;
  margin-right: 10px;
}

ul {
  list-style: none;
  padding-inline: 30px;
}
li {
  margin-bottom: 30px;
}
.food {
  display: flex;
  align-items: stretch;
}
.food-img {
  flex: 1;
}
.food-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 2;
  justify-content: space-between;
}
.food-content > * {
  flex-grow: 1;
}
.food-title {
  font-size: 20px;
}
.food-description {
  color: rgb(0, 0, 0, 0.54);
}

.food-price-and-add-remove {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.food-price {
  font-size: 18px;
  color: orangered;
}

.food-add-remove {
  display: flex;
  align-items: center;
}

.food-add-remove label {
  font-size: 18px;
  margin: 0 12px;
}

.food-add-remove button {
  width: 30px;
  height: 30px;
}




